<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <appSettings>
    <add key="Main.ConnectionString" value="Server=localhost;Port=5432; Database=dblimsproject;  User Id = postgres;Password=pg13;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  
  <dataConfiguration defaultDatabase="las2010"/>
  
  <connectionStrings>
    <add name="las2010" connectionString="Server=LAS0020-PC\ITEVA;Database=las2010;User Id=sa;Password=1234" providerName="System.Data.SqlClient" />   
  </connectionStrings>  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
